*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: poppins;
  overflow-y: auto;
  user-select: none;
  background: #fff;
}
nav {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  background: #000;
  box-shadow: 0 3px 15px #333;
}
.gnblogo {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  margin-left: 4rem;
  border: none;
  outline: none;
}
.nav-links {
  list-style: none;
  display: flex;
  width: 350%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}
.nav-links li a:hover,
.nav-links li a.active {
  color: #F2AA4CFF;
}
.wrapper {
  display:flex;
  align-items: center;
  padding-top: 1.5rem;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
  width: 500px;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 3px 3px 20px #000;
}
h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
input {
  font-family: poppins;
  border: 2px solid #ccc;
  width: 100%;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
}
select {
  font-family: poppins;
  border: 2px solid #ccc;
  width: 100%;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
}
button {
  background: black;
  font-family: poppins;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  width: 35%;
  font-size: 15px;
  border: none;
}
button:hover{
  opacity: .7;
}
.success {
  background: #b9ff9e;
  color: #000;
  padding: 5px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
.error {
    text-align: center;
    background: #F2DEDE;
    color: #A94442;
    padding: 5px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
@media screen and (max-width: 896px) {
.line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}
nav {
      position: relative;
}
.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}
.nav-links {
    position: absolute;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.nav-links.open {
    background: #000;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}
.nav-links li {
    opacity: 0;
}
.nav-links li a {
    font-size: 20px;
}
nav ul ul li a{
    line-height: 50px;
}
.nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.12s;
}
.nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.24s;
}
.nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.36s;
}
.nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.48s;
}
.nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.60s;
}
.nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.72s;
}
.nav-links li:nth-child(7) {
    transition: all 0.5s ease 0.81s;
}
li.fade {
    opacity: 1;
}
}
@media screen and (max-width: 768px) {
.nav-links {
    position: absolute;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% 10%);
    -webkit-clip-path: circle(100px at 90% 10%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.nav-links.open {
    background: #000;
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% 10%);
    pointer-events: all;
}
}
@media screen and (max-width: 200px) {
    body {
        visibility: hidden;
}
}