*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: poppins;
    overflow: auto;
    user-select: none;
    background: #fff;
}
.wrapper {
    display:flex;
    align-items: center;
    padding-top: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}
form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 450px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #000;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
input {
    font-family: poppins;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
}
.inputs {
    display: flex;
    flex-direction: column;
    font-family: poppins;
}
.terms a {
    width: 40%;
    font-size: 15px;
    font-weight: 600;
    font-family: poppins;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
.terms a:hover {
    text-decoration: underline;
    color: #F2AA4CFF;
}
.checkbox {
    margin: 0 auto;
}
.checkbox input {
    width: 5%;
    margin: 0 auto;
    cursor: pointer;
}
.checkbox p {
    width: 100%;
    margin-left: 20px;
    margin-top: -1.8em;
    font-size: 13px;
}
button {
    background: black;
    font-family: poppins;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: .7;
}
.signin a {
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    font-family: poppins;
    text-decoration: none;
    color: black;
}
.signin a:hover {
    text-decoration: underline;
    color: #F2AA4CFF;
}
.error {
    text-align: center;
    background: #F2DEDE;
    color: #A94442;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: 10px auto;
}
.success {
    text-align: center;
    background: #b9ff9e;
    color: #000;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
}