*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: poppins;
    overflow-y: auto;
    user-select: none;
    background: #fff;
}
.content {
    display:flex;
    align-items: center;
    padding-top: 5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 4rem;
}
.content .textbox {
    display: flex;
    flex-direction: column;
}
.content .textbox h1 {
    color: #333;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 700;
}
.content .textbox p {
    color: #000;
    padding-bottom: 50px;
}
